# Secrets & Local Environments
.env
.env.local

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.pytest_cache/

# Local Vector Database & Models
chroma_db/
.cache/

# Virtual Environment
.venv/
venv/
ENV/
