langgraph
langchain
langchain-groq
langchain-huggingface
langchain-community
chromadb
sentence-transformers
pypdf
python-pptx
openpyxl
pandas
streamlit
python-dotenv
mcp
pytest
langchain-chroma
reportlab
